---
Title: Cake.Bumpy
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">
    <h1>What is it?</h1>
    <p>
        Cake.Bumpy is an Addin for Cake which can help you to manage version information across several files in your project.
    </p>
</div>
